/* ABOUT & HOW CARDS */
.about-card,
.how-card {
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}


.about-card h2,
.how-card h2 {
  font-size: 42px;
  margin-bottom: 10px;
  color: white;
}


.about-card img {
  width: 90%;
  object-fit: cover;
  border-radius: 12px;
  padding-left: 40px;
}


.how-card img {
  width: 90%;
  object-fit: cover;
  border-radius: 12px;
  padding-right: 40px;
}


/* CARD TEXT */
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.section-label {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  color: red;
  margin-bottom: 12px;
}


.section-text {
  color: grey;
  line-height: 28px;
}


/* DIVIDER */
.glow-divider {
  height: 2px;
  background: red;
  box-shadow: 0 0 18px red;
  border-radius: 10px;
}
